body {
    padding: 5%;
}

.footer {
    border-top: 1px solid rgb(206, 150, 140);
    padding-top: 10px;
    margin-bottom: 10px;
    text-align: center;
}

.lien:hover,
.lien:focus {
    text-decoration: none;
}

.histContent {
    text-align: justify;
}

.histImage {
    border-radius: 7px;
    border: 4px solid white;
    box-shadow: 1px 1px 10px rgb(39, 156, 185);
}

.paragraph{
    background-color :rgba(255, 255, 255, 0.676);
}

.connect{
    background-color: rgb(243, 230, 225);
}

.register{
    background-color: rgb(225, 236, 243);
}

.choix{
text-align : center;
}

table{
    margin:auto;
}


.ligne_choix{
    display: flex;
    justify-content: space-evenly;
}

.col1 {
    margin-left: 5%;
    margin-bottom: 2%;
    width: 20%;
}

.col2 {
    width: 60%;
}

.liste{
    padding-bottom: 5px;
}
.ligne{
    display:flex;
    /* text-align: center; */
}
